body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: rgb(57, 52, 52);
  position: relative;
}
body header {
  margin: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(107, 107, 107);
  padding-bottom: 20px;
}
body header h2 {
  margin: 10px;
}
body header p {
  margin: 0px;
  text-align: center;
}
body header #newPostBtn {
  background-color: rgb(105, 105, 224);
  color: white;
  border: 1px solid black;
  border-bottom-right-radius: 20px;
}
body header #newPostBtn i {
  font-size: 1.2rem;
  margin-left: 5px;
}
body header #newPostBtn:hover {
  cursor: pointer;
  border: 1px solid white;
}
body header #logout {
  background-color: rgb(243, 140, 140);
  padding: 0 20px;
  color: white;
  border: 1px solid black;
  border-bottom-left-radius: 20px;
}
body header #logout i {
  font-size: 1.2rem;
  margin-left: 5px;
}
body header #logout:hover {
  cursor: pointer;
  border: 1px solid white;
}
body main {
  margin-bottom: 100px;
}
body main #newpost {
  display: none;
  padding: 40px;
  position: relative;
  background-color: rgb(185, 155, 155);
  border-radius: 10px;
}
body main #newpost #close {
  position: absolute;
  top: 10px;
  right: 10px;
}
body main #newpost h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
body main #newpost form {
  display: flex;
  flex-direction: column;
}
body main #newpost form #newPost {
  height: 100px;
}
body main #newpost form #submit {
  background-color: rgb(105, 105, 224);
  color: white;
  font-size: 1.3rem;
  padding: 20px;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body main #posts {
  padding: 30px;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin: 0 auto;
}
body main #posts .card {
  position: relative;
  margin-top: 10px;
  padding: 40px;
  background-color: whitesmoke;
  border: 2px solid rgb(105, 105, 224);
  border-radius: 5px;
}
body main #posts .card .deleteBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(243, 140, 140);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 0.7rem;
}
body main #posts .card .deleteBtn:hover {
  cursor: pointer;
}
body footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(107, 107, 107);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}
body footer p {
  margin: 0 20px;
  font-size: 0.5rem;
  text-align: center;
}
body footer p a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
body footer p a:hover {
  color: rgb(166, 166, 166);
}
body footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}
body footer #deleteAccount {
  background-color: rgb(243, 140, 140);
  border: none;
  border-radius: 5px;
  color: rgb(29, 29, 29);
  padding: 2px 6px;
  font-size: 0.6rem;
  margin: 0 30px;
  position: relative;
}
body footer #deleteAccount:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
}
body footer #deleteQuestion {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 110px;
  z-index: 99;
  border: 1px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgb(243, 140, 140);
  padding: 20px;
  width: 300px;
}
body footer #deleteQuestion #yes {
  background-color: red;
  padding: 5px 10px;
  color: white;
  margin-left: 20px;
  border-radius: 5px;
}
body footer #deleteQuestion #yes:hover {
  cursor: pointer;
  color: black;
  border: 1px solid white;
}
body footer #deleteQuestion #no {
  background-color: rgb(105, 105, 224);
  padding: 5px 20px;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
}
body footer #deleteQuestion #no:hover {
  cursor: pointer;
  color: black;
  border: 1px solid white;
}/*# sourceMappingURL=postsStyles.css.map */