body {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  font-family: "Raleway", sans-serif;
  background-color: rgb(112, 112, 112);
}
body .all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .all header {
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: rgb(147, 108, 108);
  border-bottom-left-radius: 40px;
}
body .all header .logo {
  display: flex;
}
body .all header .logo h1 {
  margin-left: 50px;
  color: rgb(29, 29, 29);
}
body .all header .logo p {
  font-size: 0.6rem;
}
body .all header #userCount {
  position: absolute;
  padding: 5px 10px;
  right: 30px;
  top: 30px;
  font-size: 0.7rem;
  font-weight: 700;
  border: 2px solid rgb(29, 29, 29);
  border-bottom-left-radius: 15px;
}
body .all #login {
  background-image: url("indexImg.png");
  background-size: cover;
  position: relative;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
body .all #login form {
  position: absolute;
  top: 150px;
  left: 50px;
}
body .all #login label {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
}
body .all #login input {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  margin-right: 10px;
  background-color: #f0d7ab;
  border: none;
  border-bottom: 3px dotted rgb(96, 63, 63);
  width: 100px;
}
body .all #login input:hover {
  cursor: text;
}
body .all #login #registerBtn {
  border-radius: 5px;
  border-top-right-radius: 20px;
  background-color: rgb(137, 75, 75);
  color: rgb(195, 195, 195);
}
body .all #login #error {
  color: rgb(128, 3, 3);
  padding: 20px;
}
body .all #login button {
  padding: 10px;
  margin: 10px;
  margin-right: 0;
}
body .all #login button:hover {
  cursor: pointer;
  border: 2px solid rgb(253, 237, 237);
  color: rgb(236, 236, 236);
}
body .all #login #submit1 {
  border-radius: 5px;
  border-bottom-left-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(147, 108, 108);
  color: rgb(195, 195, 195);
}
body .all #register {
  display: none;
  background-image: url("sticky.png");
  background-size: cover;
  width: 500px;
  position: absolute;
  border: 1px solid rgb(137, 75, 75);
  border-radius: 10px;
  padding: 50px;
  top: 50px;
  left: 50px;
  background-color: rgb(102, 94, 94);
}
body .all #register h3 {
  font-size: 1.4rem;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 27px;
}
body .all #register input {
  background-color: #f0e686;
  border: none;
  border-bottom: 4px dotted #ef8457;
  width: 200px;
  font-family: "Sacramento", cursive;
  font-size: 1rem;
}
body .all #register #close {
  position: absolute;
  left: 550px;
  top: 20px;
  font-weight: 700;
  background-color: rgb(147, 108, 108);
}
body .all #register form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
body .all #register form label {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Sacramento", cursive;
}
body .all #register form .labelUserN {
  margin-top: 20px;
}
body .all #register form #username {
  margin-top: -1px;
}
body .all #register form .password1 {
  margin-top: 12px;
}
body .all #register form #password {
  margin-top: 0px;
}
body .all #register form .password2 {
  margin-top: 12px;
}
body .all #register form #password2 {
  margin-top: 0px;
  margin-bottom: 40px;
}
body .all #register #submit {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(147, 108, 108);
  font-size: 1.2rem;
}
body .all footer {
  background-color: rgb(147, 108, 108);
  padding: 5px;
  width: 100%;
  border-top-left-radius: 30px;
}
body .all footer p {
  font-size: 0.7rem;
  text-align: center;
}
body .all footer p a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
body .all footer p a:hover {
  color: rgb(166, 166, 166);
}
body .all footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}/*# sourceMappingURL=styles.css.map */